body {
    background-color: antiquewhite;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 0 12px;
}

.brand img {
    width: 42px;
    padding: 0 10px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.2rem;
}

.container {
    min-height: 65vh;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 15px;
    padding: 30px;
    background-image: url(bg.jpg);
    /* background-image: none; */

}

.bottom {
    position: sticky;
    height: 110px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#myProgressBar {
    width: 70vw;
    cursor: pointer;
}

.icons {
    margin: 14px;
}

.icons i {
    cursor: pointer;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
}

.songItem img {
    height: 50px;
    width: 40px;
    margin: 0 25px;
    border-radius: 35px;
}

.timestamp {
    margin: 0 55px;

}

.timestamp i {
    cursor: pointer;
}

.songitemcontainer {
    margin-top: 20px;
}

.songinfo {
    position: absolute;
    left: 15vw;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.songinfo img {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}